<div class="row">
<div class="col-md-8" >
	<div style="margin-left:5%">
	<h1>Ceci est la page {{page}}</h1>
		<div class="row" >
			<div class="col-md-3">
				Nom : 
			</div>
			<div class="col-md-3">
				<input type="text" ng-model="client.nom" ng-click="client.nom =''">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				Prénom : 
			</div>
			<div class="col-md-3">
				<input type="text" ng-model="client.prenom" ng-click="client.prenom =''">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				Adresse : 
			</div>
			<div class="col-md-3">
				<input type="text" ng-model="client.adresse" ng-click="client.adresse =''">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				Mail : 
			</div>
			<div class="col-md-3">
				<input type="text" ng-model="client.mail" ng-click="client.mail =''">
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				Téléphone : 
			</div>
			<div class="col-md-3">
				<input type="text" ng-model="client.tel" ng-click="client.tel =''">
			</div>
		</div>
	</div>
		
</div>
<div class="col-md-4">
	Mon panier<br/><br/><br/>test
</div>
</div>