<h1>Ceci est la page home</h1>
<div class="container">
 <h2>Populaire</h2>
 <div class="im-centered">
	<div class="row"> <!--Top Products-->

	<!--Produit 1-->
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="ressources/img/Boulangerie/baguette_parisienne.jpg" alt="...">
    </a>
   </div>

		<!--Produit 2-->
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="ressources/img/Patisserie/individuelle/Flan.png" alt="...">
    </a>
   </div>

  <!--Produit 3-->
   <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="ressources/img/Sandwich/Sandwich-jambon-emmental.jpg" alt="...">
    </a>
	 </div>
  </div>
 </div>
 <h3 ng-click="go('produits')"> Tous Nos Produits</h3>
 <a ng-click="go('client')"> Continuer</a>
</div>