<div class="container">
<div class="row"> 
	<div class="step">
		<img style="width:25px;margin-top:3px;margin-bottom:3px;" src="ressources/number1-OK.png"> <img style="width:25px;" src="ressources/number2-OK.png"> <img style="width:25px;" src="ressources/number3-OK.png">    ...    <img style="width:25px;" src="ressources/number4.png">
	</div>
	<div class="col-md-9" >
	  <div style="margin-left:10%" class="transp">
		<div style="margin:25px;padding-top: 10px;">
			<h1>Choisissez votre mode de {{page}}</h1>
			<br />
			<p style="text-align: center">Comment voulez vous récupérer vos produits ?</p>
			<br />
			<div style="text-align:center;">
				<button ng-click="selectedLivraison()" type="button" class="btn btn-primary" style="width: 100px; text-align:center;background-color:#FD7E01 !important;border-color:#FD7E01!important;">Livraison</button>
				<button ng-click="selectedDrive()" type="button" class="btn btn-primary" style="width: 100px; text-align:center;background-color:#FD7E01 !important;border-color:#FD7E01!important;">A Emporter</button>
			</div>
			<br />
			<div ng-if="menu==1">
				Livraison pour : 
				<select ng-model="test.valueHour" ng-options="liste.t for liste in listes"></select>
				<select ng-model="test.valueMinutes" ng-options="minute.t for minute in minutes"></select>
				<div ng-if="test.valueHour && test.valueMinutes">
					<h3>Récapitulatif de livraison :</h3>
					<p>Personne : {{client.prenom+" "+client.nom}}</p>
					<p>Adresse : {{client.adresse}}</p>
					<p>Heure de livraison : {{test.valueHour.t}} {{test.valueMinutes.t}} </p>
				</div>
              		<a ng-click="add(); go('payer')" class="btn btn-danger">Continuer <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
              		<br /><br />
          		</div>
			</div>
			<div ng-if="menu==2">
				Produits a récupéré pour :
				<select ng-model="test.valueHour" ng-options="liste.t for liste in listes"></select>
				<select ng-model="test.valueMinutes" ng-options="minute.t for minute in minutes"></select>
				<div ng-if="test.valueHour && test.valueMinutes">
					<h3>Récapitulatif de livraison :</h3>
					<p>Personne : {{client.prenom+" "+client.nom}}</p>
					<p>Heure de collecte : {{test.valueHour.t}} {{test.valueMinutes.t}}</p>
				</div>
				<div class="text-center">
              		<a ng-click="add(); go('payer')" class="btn btn-danger">Continuer <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a>
              		<br /><br />
          		</div>
			</div>
			<div style="text-align:center;">
      			<a ng-click="go('client')" type="button" class="btn btn-primary" style="background-color:#FD7E01 !important;border-color:#FD7E01!important;">Retour</a>
    		</div>
    		<br /><br />
		</div>
	</div>
		
</div>
<div ng-init="calculPrixPanier()" class="col-md-3" data-spy="affix" data-offset-top="20">
         
            <div class="panel panel-primary">
              <div id="divTotal" class="panel-heading">
                  <h3 class="panel-title">Mon panier</h3>
              </div>
              <div ng-if="panier[0] != undefined">
              <div ng-repeat="item in panier" class="panel-body">
                  <p>{{item.quantite}}x {{item.nom}}<i style="float:right">{{item.prix | number:2}} €</i></p>
              </div>
              <hr style="margin-top : -10px; margin-bottom:0px;">
              <div class="panel-body">
                  <p>Total<i style="float:right">{{prixPanier| number:2}} €</i></p>
              </div>
            </div>
            <div ng-if="panier[0] == undefined" class="panel-body">
              <p>Votre panier est vide</p>
            </div>

          </div>
          
        
</div>
</div>
</div>