<div class="row">
<div class="col-md-8" >
	<div style="text-align:center; color:orange;">
		<img style="width:25px;" src="ressources/number1-OK.png"> <img style="width:25px;" src="ressources/number2-OK.png"> <img style="width:25px;" src="ressources/number3-OK.png">    ...    <img style="width:25px;" src="ressources/number4.png">
	</div>
	<div style="margin-left:10%">
	<h1>Ceci est la page {{page}}</h1>
	Comment voulez vous récupérer vos produits ?
		<div style="text-align:center;">
			<button ng-click="selectedLivraison()" type="button" class="btn btn-primary" style="width: 100px; text-align:center;">Livraison</button>
			<button ng-click="selectedDrive()" type="button" class="btn btn-primary" style="width: 100px; text-align:center;">Drive</button>
		</div>
		<div ng-if="menu==1">
			Livraison
		</div>
		<div ng-if="menu==2">
			Drive
		</div>
	</div>
		
</div>
<div class="col-md-4">
	<h1>Mon panier</h1><br/><br/><br/>test
</div>
</div>