<h1>Tous nos {{page}}</h1>
<!--Categorie produits-->
<div class="row">
  <!--Produit Boulangerie-->
  <div class="col-xs-6 col-md-3" ng-click="fboulangerie()">
    <a href="#" class="thumbnail">
      <img src="ressources/img/Boulangerie/baguette_parisienne.jpg" alt="...">
    </a>
    <p>Boulangerie</p>
  </div>
  <!--Produit Patisserie-->
  <div class="col-xs-6 col-md-3" ng-click="fpatisserie()">
    <a href="#" class="thumbnail">
      <img src="ressources/img/Patisserie/individuelle/Flan.png" alt="...">
    </a>
    <p>Patisserie</p>
  </div>
  <!--Produit Sandwich-->
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="ressources/img/Sandwich/Sandwich-jambon-emmental.jpg" alt="...">
    </a>
    <p>Sandwich</p>
  </div>
  <!--Produit Viennoiserie-->
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="ressources/img/Viennoiserie/chocolatine.jpg" alt="...">
    </a>
    <p>Viennoiserie</p>
  </div>
</div>

<!--détails produits-->
  <ul ng-show="boolBoulangerie">
    <li ng-repeat="x in boulangerie">
      {{ x }}
    </li>
  </ul>
  <ul ng-show="boolPatisserie">
    <li>Gateau</li>
    <ul>
      <li ng-repeat="x in gateau">
        {{ x }}
      </li>
    </ul>
    <li>Individuelle</li>
     <ul>
      <li ng-repeat="x in individuelle">
        {{x}}
      </li>
    </ul>
    <li>Tarte</li>
    <ul>
      <li ng-repeat="x in tarte">
        {{x}}
      </li>
    </ul>
  </ul>