<div class="container"><h1>Tous nos {{page}}</h1>


      <div style="text-align:center">
        <h2>Tous Nos Produits</h2>
        <!--<img ng-click="go('produits')" style="width:100%;border-radius:2px;" src="ressources/mich1.jpg">-->
        <div style="width:100%;">
          <div style="float:left;width:50%;" class="pointer">
          <div style="z-index:1;position:relative"><img ng-click="go('boulangerie')" style=";width:100%;height:25%;border-top-left-radius:15px;" src="ressources/boulangerie.jpg"></div><div class="mosaique"  style="position:relative;z-index:2;background-color: rgba(0, 0, 0, 0.5);"><p>BOULANGERIE</p></div>
        </div>
        <div style="float:right;width:50%" class="pointer">
          <div style="z-index:1;position:relative"><img ng-click="go('sandwich')" style=";width:100%;height:25%;border-top-right-radius:15px;" src="ressources/sandwich.jpeg"></div><div class="mosaique"  style="position:relative;z-index:2;background-color: rgba(0, 0, 0, 0.5);"><p>SANDWICH</p></div>
        </div>
      </div>
      <div style="width:100%;" class="pointer">
        <div style="float:left;width:50%;margin-top:-10px;">
        <div style="z-index:1;position:relative"><img ng-click="go('viennoiserie')" style=";width:100%;height:25%;border-bottom-left-radius:15px;" src="ressources/viennoiserie.jpg"></div><div class="mosaique" style="position:relative;z-index:2;background-color: rgba(0, 0, 0, 0.5);border-bottom-left-radius:15px;"><p>VIENNOISERIE</p></div>
      </div>
      <div style="float:right;width:50%;margin-top:-10px;" class="pointer">
        <div style="z-index:1;position:relative"><img ng-click="go('patisserie')" style=";width:100%;height:25%;border-bottom-right-radius:15px;" src="ressources/patisserie.jpg"></div><div class="mosaique"  style="position:relative;z-index:2;background-color: rgba(0, 0, 0, 0.5);border-bottom-right-radius:15px;"><p>PATISSERIE</p></div>
      </div>
    </div>
  <div style="position:relative;float:center;">
   <button ng-click="go('client')" type="button" class="btn btn-primary" style="width: 200px; text-align:center;margin:20px;background-color:#FD7E01 !important;border-color:#FD7E01!important;">Je commande !</button>
  </div>
 </div>

  <div ng-init="calculPrixPanier()" class="col-md-3" data-offset-top="20">
    <div class="panel panel-primary">
      <div id="divTotal" class="panel-heading">
        <h3 class="panel-title">Mon panier</h3>
      </div>
      <div ng-if="panier[0] != undefined">
        <div ng-repeat="item in panier" class="panel-body">
          <p><img style="width:15px;margin-left: -6px;margin-right: 5px;" src="ressources/moins.png" ng-click="delPanier(item)">{{item.quantite}}x {{item.nom}}<i style="float:right">{{item.prix | number:2}} €</i></p>
        </div>
        <hr style="margin-top : -10px; margin-bottom:0px;">
        <div class="panel-body">
          <p>Total<i style="float:right">{{prixPanier| number:2}} €</i></p>
        </div>
      </div>
      <div ng-if="panier[0] == undefined" class="panel-body">
        <p>Votre panier est vide</p>
      </div>
    </div>
    <button ng-if="panier[0] != undefined" ng-click="go('client')" type="button" class="btn btn-primary" style="width: 100%; text-align:center;">Continuer</button>  
  </div>  
</div>