/*
GENERAL
*/

html{
	background-color: #fd7e01;
}

body{
	background-color: darkgrey;
}

footer{
	background-color: #fd7e01;
}

/*
NavBar
*/

#navjf{
	background-color: #8d5524;
	color: #333333;
	height: 50px;

}
/*logo*/
#navjf img{
	margin-top: -10px;
}
/*liens*/
#navjf ul{
	margin-top: 10px;
	font-size: large;
}
#navjf li{
	margin-right: 20px;
}
#navjf li:hover{
	color: white;
}


/*
footer
*/
.foot{
	float: left;
	margin-left: 30px;
}
.socials {
	float: right;
}
.socials li {
    display: inline-block;
    float: left;
}
.socials a{
	display: block;
    height: 32px;
    width: 32px;
    background: transparent url("ressources/icons.svg") no-repeat scroll -32px 0px;
}

.copyright{
	clear: both;
	text-align: center;
	margin-bottom: 0;
}