/*
GENERAL
*/

@font-face {
    font-family: "HelveticaBoulangerie";
    src: url('ressources/font/helveticaneueltstd-webfont.ttf');
}

html{
	background-color: #A16028;
}

body{
	background-color: darkgrey;
}

footer{
	background-color: #A16028;
}

.mosaique p{
	font-family: "Impact", Georgia, Serif;
	color:lightgray;
	margin-top:-35px;
	font-size:25px;
}

/*
NavBar
*/

#navjf{
	background-color: #A16028;
	color: #333333;
	height: 50px;

}
/*logo*/
#navjf img{
	margin-top: -10px;
}
/*a cote du logo*/
#JFbrand{
	color: #fd7e01;
	text-decoration: none;
	font-size: xx-large;
	font-weight: bold;
}
#JFbrand:hover{
	color: #fee5cc;
}
/*liens*/
#navjf ul{
	margin-top: 10px;
	font-size: large;
}
#navjf li{
	margin-right: 20px;
}
#navjf li:hover{
	color: white;
}


/*
footer
*/
.foot{
	float: left;
	margin-left: 30px;
}
.socials {
	float: right;
}
.socials li {
    display: inline-block;
    float: left;
}
.socials a{
	display: block;
    height: 32px;
    width: 32px;
    /*background: transparent url("ressources/icons.svg") no-repeat scroll -32px 0px;*/
}

.copyright{
	clear: both;
	text-align: center;
	margin-bottom: 0;
}

.panel-heading{
	background-color: #A16028 !important;
    border-color: #A16028 !important;
}

.panel-primary {
    border-color: #A16028 !important;
    margin-top:25px !important;
}

.transp{
	    background-color: rgba(255, 255, 255, 0.5);
	    margin-top:10px;
	    margin-bottom:10px;
	    border-radius:5px;
}

.step
{
	text-align:center; color:orange;background-color: white;margin-right: 43%;margin-left: 43%;border-radius: 10px;"
}

.btn-primary{
	background-color:#A16028 !important;
	border-color:#A16028 !important;
}
 


/*
PRODUITS 
*/
.prod{
	float: left;
	background-color: white;
	margin: 5px;
	padding-right: 5px;
	border-radius: 10px;
	opacity:0.7;
}
.prod li{
	list-style: none;
}


/*
CLIENT
*/
.requis{
	color: red;
}